=render "shared/header"
.wrapper
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .singup-form
      .singup-form__field
        .singup-form__field__title
          =f.label :name do
            名前
          %span.required
            必須
        =f.text_field :name ,class:"user-text-field first-page-box",required:"required"
      .singup-form__field
        .singup-form__field__title
          =f.label :email do
            メールアドレス
          %span.required
            必須
        =f.email_field :email,class:"user-text-field first-page-box",required:"required", autocomplete: "email"
      .singup-form__field
        .singup-form__field__title
          =f.label :password do
            パスワード(変更したい場合のみ)
          %span.required
            必須
        =f.password_field :password ,class:"user-text-field first-page-box", autocomplete: "new-password"
      .singup-form__field
        .singup-form__field__title
          =f.label :password_confirmation do
            パスワード(確認用)
          %span.required
            必須
        =f.password_field :password_confirmation ,class:"user-text-field first-page-box", autocomplete: "new-password"
      .singup-form__field
        .singup-form__field__title
          =f.label :current_password do
            現在のパスワード
          %span.required
            必須
        =f.password_field :current_password ,class:"user-text-field first-page-box",required:"required", autocomplete: "current-password"
      .flex-box
        .singup-form__field
          .singup-form__field__title
            アイコン
            %span.required
              必須
          =f.label :icon do
            .image-upload
              アイコンを選択する
            =f.file_field :icon, class:"first-page-box"
        .singup-form__field
          .singup-form__field__title
            背景画像
            %span.optional
              任意
          =f.label :background_image do
            .image-upload
              背景画像を選択する
            =f.file_field :background_image
      .singup-form__field
        .singup-form__field__title
          =f.label :profile do
            プロフィール
          %span.required
            必須
        =f.text_area :profile ,class:"user-text-area first-page-box",required:"required"
      =f.submit '更新する', id:"adviser-create-btn"
      = link_to "<<Back", :back, class:"back-btn"
