.wrapper.signup-page-wrapper
  .sigunup-header
    .signup-logo
      Logo
  =form_with(model: @user, url: adviser_create_signups_path, method: :post,local:true) do |f|
    .singup-form#signup-page1
      .singup-form__field
        .singup-form__field__title
          =f.label :name do
            名前
          %span.required
            必須
        =f.text_field :name ,class:"user-text-field first-page-box",required:"required"
      .singup-form__field
        .singup-form__field__title
          =f.label :email do
            メールアドレス
          %span.required
            必須
        =f.email_field :email,class:"user-text-field first-page-box",required:"required"
      .singup-form__field
        .singup-form__field__title
          =f.label :password do
            パスワード
          %span.required
            必須
        =f.password_field :password ,class:"user-text-field first-page-box",required:"required"
      .singup-form__field
        .singup-form__field__title
          =f.label :password_confirmation do
            パスワード(確認用)
          %span.required
            必須
        =f.password_field :password_confirmation ,class:"user-text-field first-page-box",required:"required"
      .flex-box
        .singup-form__field
          .singup-form__field__title
            アイコン
            %span.required
              必須
          =f.label :icon do
            .image-upload
              アイコンを選択する
            =f.file_field :icon, class:"first-page-box"
        .singup-form__field
          .singup-form__field__title
            背景画像
            %span.optional
              任意
          =f.label :background_image do
            .image-upload
              背景画像を選択する
            =f.file_field :background_image
      .singup-form__field
        .singup-form__field__title
          =f.label :profile do
            プロフィール
          %span.required
            必須
        =f.text_area :profile ,class:"user-text-area first-page-box",required:"required"
      #adviser-next-btn
        次へ進む
    .singup-form#signup-page2
      #adviser-pre-btn
        \<< 戻る
      .singup-form__field
        .singup-form__field__title
          =f.label :school_id do
            所属する学校
          %span.required
            必須
        = f.collection_select :school_id, School.order(id: :desc), :id, :name, {prompt: ""},{class:"user-text-field",id:"user-school-select",required:"required"}
      .singup-form__field
        .singup-form__field__title
          チャット可能時間
          %span.required
            必須
      -Schedule.days_i18n.invert.each_with_index do |day, index|
        = f.fields_for :schedules do |s|
          .singup-form__field.schedule-box
            =s.hidden_field :day, value: day[1]
            =s.check_box :availability, class:"singup-form__field__checkbox"
            =s.label :availability, class:"schedule-btn" do
              =day[0]
            .singup-form__field__schedule
              =s.time_select :start_time,{minute_step: 30,prompt:"" }
              から
              =s.time_select :end_time,{minute_step: 30,prompt:""}
              まで
            .singup-form__field__unable
              この曜日は予約を入れません
      =f.submit '登録する', id:"adviser-create-btn"