=render 'shared/header'
.wrapper
  -if @user.background_image.present?
    .user-background
      .user-background__image{"style":"background-image:url(#{@user.background_image.url});"}
      =image_tag "#{@user.background_image.url}",class:"user-bg-image"
  -else
    .user-background-none
  .flex-wrapper 
    .main
      .main__profile
        .main__profile__top
          .main__profile__top__icon
            =image_tag "#{@user.icon.url}",class:"user-icon"
          .main__profile__top__box
            .main__profile__top__box__name
              =@user.name
            - if @user.adviser?
              .main__profile__top__box__school
                =link_to school_path(@user.school),class:"user-school-link" do
                  =@user.school.name
        .main__profile__text
          =simple_format(@user.profile)
      -if @user.adviser?
        .main__blog
          .main__blog__title
            最新のブログ記事
          %ul.main__blog__all
            %li.main__blog__all__list
              .main__blog__all__list__top
                %h4.main__blog__all__list__top__title
                  タイトル
                %h6.main__blog__all__list__top__time
                  =Time.now
              %p.main__blog__all__list__text
                ブログの本文を表示
            %li.main__blog__all__list
              .main__blog__all__list__top
                %h4.main__blog__all__list__top__title
                  タイトル
                %h6.main__blog__all__list__top__time
                  =Time.now
              %p.main__blog__all__list__text
                ブログの本文を表示
            %li.main__blog__all__list
              .main__blog__all__list__top
                %h4.main__blog__all__list__top__title
                  タイトル
                %h6.main__blog__all__list__top__time
                  =Time.now
              %p.main__blog__all__list__text
                ブログの本文を表示
    .side-bar
      .side-bar__sns
        .side-bar__sns__twitter
          =icon('fab','twitter',class:"icon-twitter")
        .side-bar__sns__facebook
          =icon('fab','facebook',class:"icon-facebook")
        .side-bar__sns__instagram
          =icon('fab','instagram',class:"icon-instagram")
        .side-bar__sns__youtube
          =icon('fab','youtube',class:"icon-youtube")
      -if @user.adviser?
        -if current_user == @user
          =button_to '記事を書く', new_blog_path, method: :get,class:"side-bar__blog-btn"
        -else
          =button_to 'この人の話を聞きたい', new_user_chat_path(@user), remote: true,method: :get,class:"side-bar__chat-btn"
          .side-bar__availability
            %span.side-bar__availability__title
              チャット可能時間
            %ul.side-bar__availability__chat
              -@user.schedules.each do |s|
                %li.side-bar__availability__chat__list
                  -if s.availability?
                    =s.day_i18n
                    \: 
                    =s.start_time.strftime('%H:%M')
                    \- 
                    =s.end_time.strftime('%H:%M')
                  -else
                    =s.day_i18n
                    \: 
                    なし
      -if user_signed_in? && current_user == @user
        .side-bar__logout
          =button_to 'ログアウト', destroy_user_session_path, method: :delete,class:"logout-btn"
=render "shared/footer"