=render 'shared/header'
.wrapper
  .user-background-image
    Back Ground Image
  .flex-wrapper 
    .main
      .main__profile
        .main__profile__top
          .main__profile__top__icon
            Image
          .main__profile__top__box
            .main__profile__top__box__name
              =@user.name
            - if @user.adviser?
              .main__profile__top__box__school
                =link_to school_path(@user.school),class:"user-school-link" do
                  =@user.school.name
        .main__profile__text
          毎日太郎と申します。前職では、飲料メーカーのマーケティング職としてキャンペーンの企画やランディングページのディレクションに携わってまいりました。「◯◯キャンペーン」では前年比120％の応募数を獲得し、社内表彰を受賞しました。
          今後は、自社のマーケティングだけでなく、幅広い業種のマーケティングに挑戦していきたいと思い、キャンペーン企画を強みに多様な企業をクライアントとして持つ御社に応募させていただきました。本日はどうぞよろしくお願いいたします。
        -# .main__profile__availability
        -#   %span.main__profile__availability__title
        -#     チャット可能時間
        -#   %ul.main__profile__availability__chat
        -#     %li.main__profile__availability__chat__day
        -#       月曜日
        -#     %li.main__profile__availability__chat__day
        -#       火曜日
        -#     %li.main__profile__availability__chat__day
        -#       水曜日
        -#     %li.main__profile__availability__chat__day
        -#       木曜日
        -#     %li.main__profile__availability__chat__day
        -#       金曜日
        -#     %li.main__profile__availability__chat__day
        -#       土曜日
        -#     %li.main__profile__availability__chat__day
        -#       日曜日
        -#   %ul.main__profile__availability__chat
        -#     %li.main__profile__availability__chat__day
        -#       19時から21時
        -#     %li.main__profile__availability__chat__day
        -#       19時から21時
        -#     %li.main__profile__availability__chat__day
        -#       19時から21時
        -#     %li.main__profile__availability__chat__day
        -#       19時から21時
        -#     %li.main__profile__availability__chat__day
        -#       19時から21時
        -#     %li.main__profile__availability__chat__day
        -#       19時から21時
        -#     %li.main__profile__availability__chat__day
        -#       19時から21時
      -if @user.adviser?
        .main__blog
          .main__blog__title
            最新のブログ記事
          %ul.main__blog__all
            %li.main__blog__all__list
              .main__blog__all__list__top
                %h4.main__blog__all__list__top__title
                  タイトル
                %h6.main__blog__all__list__top__time
                  =Time.now
              %p.main__blog__all__list__text
                ブログの本文を表示
            %li.main__blog__all__list
              .main__blog__all__list__top
                %h4.main__blog__all__list__top__title
                  タイトル
                %h6.main__blog__all__list__top__time
                  =Time.now
              %p.main__blog__all__list__text
                ブログの本文を表示
            %li.main__blog__all__list
              .main__blog__all__list__top
                %h4.main__blog__all__list__top__title
                  タイトル
                %h6.main__blog__all__list__top__time
                  =Time.now
              %p.main__blog__all__list__text
                ブログの本文を表示
    .side-bar
      .side-bar__sns
        .side-bar__sns__twitter
          =icon('fab','twitter',class:"icon-twitter")
        .side-bar__sns__facebook
          =icon('fab','facebook',class:"icon-facebook")
        .side-bar__sns__instagram
          =icon('fab','instagram',class:"icon-instagram")
        .side-bar__sns__youtube
          =icon('fab','youtube',class:"icon-youtube")
      -if @user.adviser?
        -if current_user == @user
          =button_to '記事を書く', new_blog_path, method: :get,class:"side-bar__blog-btn"
        -else
          =button_to 'この人の話を聞きたい', new_user_chat_path(@user), remote: true,method: :get,class:"side-bar__chat-btn"
          .side-bar__availability
            %span.side-bar__availability__title
              チャット可能時間
            %ul.side-bar__availability__chat
              %li.side-bar__availability__chat__list
                月 : 19 - 21
              %li.side-bar__availability__chat__list
                火 : 19 - 21
              %li.side-bar__availability__chat__list
                水 : 19 - 21
              %li.side-bar__availability__chat__list
                木 : 19 - 21
              %li.side-bar__availability__chat__list
                金 : 19 - 21
              %li.side-bar__availability__chat__list
                土 : 19 - 21
              %li.side-bar__availability__chat__list
                日 : 19 - 21
=render "shared/footer"