.footer
  .footer__menu
    %ul.footer__menu__box
      %span.footer-title
        About
      %li.footer__menu__box__list
        運営会社
      %li.footer__menu__box__list
        プライバシーポリシー
      %li.footer__menu__box__list
        利用規約
      %li.footer__menu__box__list
        ヘルプ
      %li.footer__menu__box__list
        退会
    %ul.footer__menu__box
      %span.footer-title
        About
      %li.footer__menu__box__list
        運営会社
      %li.footer__menu__box__list
        プライバシーポリシー
      %li.footer__menu__box__list
        利用規約
      %li.footer__menu__box__list
        ヘルプ
      %li.footer__menu__box__list
        退会
    %ul.footer__menu__box
      %span.footer-title
        About
      %li.footer__menu__box__list
        運営会社
      %li.footer__menu__box__list
        プライバシーポリシー
      %li.footer__menu__box__list
        利用規約
      %li.footer__menu__box__list
        ヘルプ
      %li.footer__menu__box__list
        退会
    %ul.footer__menu__box
      %span.footer-title
        SNS
      %li.footer__menu__box__list
        Twitter
      %li.footer__menu__box__list
        Facebook
      %li.footer__menu__box__list
        Instagram
  .footer__logo
    .footer-logo 
      Footer Logo
  .footer__corp
    \--- サイト名 ---