.header
  .header__left
    =link_to root_path do
      =image_tag 'header-logo.png',class:"logo"
        
  .header__center
    =form_with(url: search_areas_path, local: :true, method: :get) do |f|
      =f.text_field :keyword,id:"header-search-form",placeholder:"検索する...",autocomplete:"off"
      = button_tag type: 'submit', id:"header-search-btn"  do
        =icon('fas', 'search')
  %ul.header__right
    -if user_signed_in?
      %li.header__right__list#notification-bell
        .header-links
          =icon('fas', 'bell',class:'icon-bell')
      %li.header__right__list
        =link_to user_path(current_user), class:"header-links" do
          =icon('fas', 'user',class:'icon-user')
      -if current_user.admin?
        %li.header__right__list
          =link_to rails_admin_path, class:"header-links" do
            =icon('fas', 'users-cog',class:'icon-admin')
    -else
      %li.header__right__list
        =link_to user_session_path, class:"header-links" do
          ログイン
      %li.header__right__list
        =link_to signups_path, class:"header-links" do
          新規登録
-if user_signed_in?
  .header-notification
    .header-notification__delete
      .header-notification__delete__btn
        ×
    .header-notification__content
      - if @coming_chats.present?
        -@coming_chats.each do |c|
          -if c.start_at < Time.now
            .header-notification__content__rush.emergency
              =link_to video_chat_path(c), class:"emergencry-chat" do
                =icon('fas','exclamation-triangle',class:"icon-exclamation")
                =c.start_at.strftime("%Y年%m月%d日 %H:%M")
                から
                %br
                = current_user.adviser ? c.user.name : c.adviser.name
                とチャットの時間です
                %br
                今すぐに準備をお願いします
          -elsif  c.start_at.to_datetime < Time.now.to_datetime + Rational(5,24*60)
            .header-notification__content__rush
              =link_to video_chat_path(c), class:"emergencry-chat" do
                =icon('fas','exclamation-triangle',class:"icon-exclamation")
                =c.start_at.strftime("%Y年%m月%d日 %H:%M")
                から
                %br
                = current_user.adviser ? c.user.name : c.adviser.name
                とチャットの時間です
                %br
                現在 入室可能です
          -else
            .header-notification__content__box
              =c.start_at.strftime("%Y年%m月%d日 %H:%M")
              から
              %br
              = current_user.adviser ? c.user.name : c.adviser.name
              とチャットの予定があります
      - else
        チャットの予定はございません
