.container
  .videochat__top
    #video-container.videochat__video-box
      %video#their-video{:autoplay => ""}
      %video#my-video{:autoplay => "", :muted => "true"}
    .chat-box
      .chat-box__header
        .chat-box__header__title
          Chat
        .chat-box__header__clock#RealtimeClock
      .chat-box__body
        #content
  / Steps
  .videochat__bottom
    .videochat__bottom__left
      %h2 SkyWay Video Chat
      %p
        Your id:
        %span#my-id ...
      %h3 Make a call
      %form#make-call.pure-form
        %input#calling-id{:placeholder => "Call user id...", :type => "text"}/
        %button.pure-button.pure-button-success{:href => "#", :type => "submit"} Call
      %form#end-call.pure-form
        %p
          Currently in call with
          %span#their-id ...
        %button.pure-button.pure-button-success{:href => "#", :type => "submit"} End Call
      -# %button#btn start
    .videochat__bottom__right
      -# %video#my-video{:autoplay => "", :muted => "true"}