.container
  .videochat__top
    .videochat__top__left
    #video-container.videochat__video-box
      %video#their-video{:autoplay => ""}
    .chat-box{"data-chat":@chat.id}
      .chat-box__header
        .chat-box__header__title
          Chat
        .chat-box__header__clock#RealtimeClock
      .chat-box__body#content
  / Steps
  .videochat__bottom
    .videochat__bottom__left
      -if current_user.id ==  @chat.user_id
        =form_with model: @chat, method: :patch do |f|
          =f.hidden_field :user_peer_id
          =f.submit '準備完了',id:"user_peer_btn", disabled:"disabled"
      -elsif current_user.id == @chat.adviser_id
        %form#make-call
          %button#callbtn{disabled:"disabled"} 準備中
      #timer
      =form_tag new_chat_chat_review_path(@chat), method: :get,id:"end-call" do |f|
        = button_tag '通話終了',id:"end_call_btn",disabled:"disabled"
    .videochat__bottom__right
      %video#my-video{:autoplay => "", :muted => "true"}
.dark-background
  .notification-video
    ご利用ありがとうございました。
    %br
    %br レビューに画面に移動します。