.container
  .videochat__top
    #video-container.videochat__video-box
      %video#their-video{:autoplay => ""}
      -# %video#my-video{:autoplay => "", :muted => "true"}
    .chat-box{"data-chat":@chat.id}
      .chat-box__header
        .chat-box__header__title
          Chat
        .chat-box__header__clock#RealtimeClock
      .chat-box__body#content
  / Steps
  .videochat__bottom
    .videochat__bottom__left
      -if current_user.id ==  @chat.user_id
        =form_with model: @chat, method: :patch do |f|
          =f.hidden_field :user_peer_id
          =f.submit '準備完了',id:"user_peer_btn"
      -elsif current_user.id == @chat.adviser_id
        %form#make-call.no-ready
          %input{type:"hidden", id:"their-id"}
          %button#callbtn{disabled:"disabled"} 通話開始 
      #timer
      %form#end-call.pure-form
        %button.pure-button.pure-button-success{:href => "#", :type => "submit"} End Call
    .videochat__bottom__right
      %video#my-video{:autoplay => "", :muted => "true"}