.area-box
  =link_to area_path(area), class:"area-box__link" do
    .area-box__image{"style":"background-image:url(#{area.image.url});"}
    .area-box__name
      =area.name
    .area-box__description
      =area.description