.container.dark
  .chat-review
    -if current_user == @chat.user
      .chat-review__user
        .chat-review__user__name
          =@chat.adviser.name
        .chat-review__user__icon{"style":"background-image:url(#{@chat.adviser.icon.url});"}
        .chat-review__user__school
          =@chat.adviser.school.name
    -else
      .chat-review__user
        .chat-review__user__name
          =@chat.user.name
        .chat-review__user__icon{"style":"background-image:url(#{@chat.user.icon.url});"}
        .chat-review__user__school
          %br
    =form_with model: @chat_review,url:chat_chat_reviews_path, method: :post,local: true,id:"chat-review-form" do |f|
      .chat-review__score
        -10.times do |n| 
          -n+=1
          =icon('fas', 'star',class:'icon-star',"data-id":n)
      =f.hidden_field :score,id:"chat-review-score"
      =f.text_area :text,id:"chat-review-text"
      =f.submit 'レビューする',id:"chat-review-btn"