=render 'shared/header'
.wrapper
  .slick
    .index-background-image.image-1
      Back Ground Image
    .index-background-image.image-2
      Back Ground Image
    .index-background-image.image-3
      Back Ground Image
  .index
    .index__title
      サイト名  タイトル
    .index__top-box
      .index__top-box__image
        Image
      .index__top-box__description
        説明文は、ある出来事や情報をよく知っている人間が、それらをよく知らない 人たちに説明をしようとして書いた文章です。
        %br ですから、説明文を読み取るとい うことは、その作者が何について、どのように、説明している文章かを把握する ことが大切です。 論説文も同じです。 筆者が主張したいことは何かを読み取るこ とが中心です。
    .index__middle-box