=render 'shared/header'
.wrapper
  .slick
    .index-background-image.image-1
      Back Ground Image
    .index-background-image.image-2
      Back Ground Image
    .index-background-image.image-1
      Back Ground Image