#calendar {
    width: 400px;
    margin: 20px auto;
}

.fc-past,
.fc-today {
    cursor: not-allowed;
    background-color: lightgrey;
    height: 40px;
}

.fc-future {
    cursor: pointer;
    height: 40px;
}

.fc-highlight {
    background: $orange !important;
    opacity: 1 !important;
}

#chat-new-modal {
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 50;
}

.chat-new {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 700px;
    margin: auto auto;
    background-color: white;
    z-index: 100;
    &__time {
        width: 500px;
        margin: 0 auto;
        height: 80px;
        overflow: scroll;
        &__list {
            display: none;
            &__btn {
                color: $orange;
                border: 1px solid $orange;
                border-radius: 3px;
                padding: 5px;
                margin: 5px;
                &:hover {
                    color: white;
                    background-color: $orange;
                }
            }
        }
    }
}

#chat-new-form {
    text-align: center;
    font-size: 0;
    select {
        display: none;
    }
}

#chat-new-btn {
    display: block;
    margin: 20px auto;
    width: 300px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: solid 1px $orange;
    color: $orange;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: $orange;
        color: white;
    }
}

.reserve-date,
.reserve-time {
    text-align: center;
    height: 30px;
}