#calendar {
    width: 400px;
}

.fc-past,
.fc-today {
    cursor: not-allowed;
    background-color: lightgrey;
    height: 40px;
}

.fc-future {
    cursor: pointer;
    height: 40px;
}

.fc-highlight {
    background: $orange !important;
    opacity: 1 !important;
}