.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    &__left {
        padding: 8px 0 8px 16px;
        height: 60px;
        width: 33%;
    }
    &__center {
        position: relative;
        width: 33%;
        height: 60px;
        #header-search-form {
            margin: 10px auto;
            height: 40px;
            padding: 5px 40px 5px 10px;
            font-size: 15px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid grey;
            background-color: rgb(245, 245, 245);
            &:focus {
                border: 1px solid $orange;
                background-color: white;
            }
            &:focus+#header-search-btn {
                background-color: white;
            }
        }
        #header-search-btn {
            position: absolute;
            margin: auto 0;
            right: 10px;
            top: 0;
            bottom: 0;
            width: 30px;
            height: 30px;
            border: none;
            cursor: pointer;
            font-size: 20px;
            color: grey;
            background-color: rgb(245, 245, 245);
            &:hover {
                color: $orange;
            }
            &:focus {
                color: red;
            }
        }
    }
    &__right {
        width: 33%;
        padding: 10px 0;
        height: 60px;
        text-align: right;
        line-height: 40px;
        cursor: default;
        &__list {
            display: inline-block;
            font-size: 15px;
            margin-right: 15px;
            &:last-child {
                margin-right: 20px;
            }
        }
    }
}

.header-links {
    color: $orange;
    position: relative;
    display: block;
    cursor: pointer;
    &:after {
        content: '';
        border-bottom: 1px $orange solid;
        position: absolute;
        width: 0;
        transition: width 0.5s;
        bottom: 0;
        left: 0;
    }
    &:hover:after {
        width: 100%;
    }
}

.logo {
    height: 44px;
    width: 44px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 44px;
    &:hover {
        opacity: 0.7;
    }
}

.icon-admin,
.icon-user,
.icon-bell {
    font-size: 25px;
}

.header-notification {
    display: none;
    top: 70px;
    right: 15px;
    overflow: scroll;
    position: fixed;
    width: 300px;
    height: 400px;
    background-color: rgb(255, 250, 238);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 10px 20px 10px;
    z-index: 150;
    &__delete {
        text-align: right;
        margin-bottom: 10px;
        &__btn {
            right: 25px;
            position: fixed;
            font-size: 20px;
            display: inline-block;
            cursor: pointer;
            &:hover {
                color: red;
            }
        }
    }
    &__content {
        &__box {
            border-bottom: 1px dashed lightgrey;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        &__rush {
            background-color: $orange;
            padding: 10px;
            margin-bottom: 5px;
            .emergencry-chat {
                color: white;
                .icon-exclamation {
                    font-size: 30px;
                    text-align: center;
                    display: block;
                    margin: 5px auto;
                }
            }
        }
        &__rush.emergency {
            background-color: red;
        }
    }
}