.index-background-image {
    width: 100vw;
    height: 600px;
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
    line-height: 600px;
    text-align: center;
}

.image-1 {
    background: radial-gradient(rgb(0, 238, 255), rgb(191, 197, 255));
}

.image-2 {
    background: radial-gradient(rgb(14, 202, 76), rgb(140, 241, 182));
}

.image-3 {
    background: radial-gradient(rgb(253, 97, 253), rgb(224, 199, 224));
}