.school-background {
    width: 100vw;
    height: 400px;
    margin-bottom: 20px;
    background: radial-gradient(rgb(223, 218, 173), rgb(255, 145, 0));
    line-height: 400px;
    text-align: center;
    font-size: 30px;
    color: white;
}