.index-background-image {
    width: 100vw;
    height: 600px;
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
    line-height: 600px;
    text-align: center;
}

.image-1 {
    background: radial-gradient(rgb(0, 238, 255), rgb(191, 197, 255));
}

.image-2 {
    background: radial-gradient(rgb(14, 202, 76), rgb(140, 241, 182));
}

.image-3 {
    background: radial-gradient(rgb(253, 97, 253), rgb(224, 199, 224));
}

.slick {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.index {
    padding-bottom: 30px;
    margin: 0 auto;
    width: 800px;
    &__box {
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid lightgrey;
        &:last-child {
            margin-bottom: 0px;
            border-bottom: none;
        }
        &__title {
            text-align: center;
            font-size: 30px;
            margin-bottom: 20px;
        }
        &__top {
            display: flex;
            &__image {
                margin-right: 20px;
                height: 300px;
                min-width: 300px;
                background-color: black;
                text-align: center;
                line-height: 300px;
                color: white;
            }
            &__description {
                width: auto;
                word-break: break-all;
            }
        }
        &__flex {
            display: flex;
            justify-content: space-between;
            &__school,
            &__adviser {
                width: 250px;
                &__image {
                    position: relative;
                    height: 150px;
                    width: 150px;
                    margin: 0 auto 10px;
                    border-radius: 50%;
                    overflow: hidden;
                    .school-image-index {
                        height: 150px;
                        width: 150px;
                        border-radius: 50%;
                        margin: 0 auto 10px;
                        background: radial-gradient(rgb(255, 164, 60), rgb(255, 250, 221));
                        color: white;
                    }
                    .adviser-image-index {
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto auto;
                        position: absolute;
                        height: auto;
                        width: 100%;
                        // border-radius: 50%;
                    }
                }
                &__name {
                    margin: 15px 0;
                    text-align: center;
                }
                &__text {
                    text-align: center;
                }
            }
        }
        &__introduction {
            display: none;
            height: 100px;
            overflow: hidden;
            padding: 20px 20px 0;
            &__text {
                margin-bottom: 10px;
                font-size: 18px;
            }
            &__merits {
                font-size: 15px;
            }
        }
    }
}

a.index-user-links,
a.index-school-links {
    color: $orange;
    position: relative;
    display: inline-block;
    cursor: pointer;
    &:after {
        content: '';
        border-bottom: 1px $orange solid;
        position: absolute;
        width: 0;
        transition: width 0.5s;
        bottom: 0;
        left: 0;
    }
    &:hover:after {
        width: 100%;
    }
}