.signup-page-wrapper {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.signup-warning {
    padding: 10px;
    text-align: center;
    color: red;
}

.sigunup-header {
    margin: 0 auto;
    width: 800px;
    height: 100px;
    .signup-logo {
        margin: 20px;
        height: 60px;
        width: 180px;
        background-color: black;
        color: white;
        line-height: 60px;
        text-align: center;
    }
}

.singup-form {
    width: 800px;
    margin: 0 auto 20px;
    background-color: #fafafa;
    padding: 20px;
    &__field {
        width: 600px;
        margin: 0 auto 20px;
        &__title {
            padding-left: 10px;
            margin-bottom: 8px;
        }
        .user-text-field {
            width: 100%;
            height: 40px;
            padding: 0 10px;
            border: 1px lightgrey solid;
            &:focus {
                border: 1px $orange solid;
            }
        }
        .user-text-area {
            padding: 10px;
            width: 100%;
            height: 200px;
            border: 1px lightgrey solid;
            &:focus {
                border: 1px $orange solid;
            }
        }
        .image-upload {
            text-align: center;
            line-height: 40px;
            width: 90%;
            height: 40px;
            padding: 0 10px;
            border: 1px lightgrey solid;
            color: grey;
            background-color: white;
            cursor: pointer;
            &:hover {
                background-color: $orange;
                color: white;
                border: none;
            }
        }
        &__schedule {
            display: none;
            margin-left: 20px;
            select {
                cursor: pointer;
                height: 40px;
                padding: 0 10px;
                border-radius: 0px;
                border: none;
                border-bottom: 1px solid lightgrey;
            }
        }
        &__checkbox:checked~.singup-form__field__schedule {
            display: block;
        }
        &__checkbox {
            display: none;
        }
        .schedule-btn {
            background-color: white;
            border: 1px solid lightgrey;
            height: 40px;
            display: block;
            line-height: 40px;
            padding: 0 10px;
            color: grey;
            cursor: pointer;
            &:hover {
                color: white;
                background-color: $orange;
                border: 1px solid $orange;
            }
        }
        &__checkbox:checked~.schedule-btn {
            color: white;
            background-color: $orange;
            border: 1px solid $orange;
        }
        &__unable {
            display: block;
            margin-left: 20px;
            color: grey;
        }
        &__checkbox:checked~.singup-form__field__unable {
            display: none;
        }
    }
    &__field.schedule-box {
        line-height: 40px;
        height: 40px;
        display: flex;
    }
    &__complete {
        text-align: center;
        width: 600px;
        margin: 10px auto 20px;
        &__top-btn {
            margin: 40px 0 20px;
            text-align: center;
            .signup-link {
                color: $orange;
                position: relative;
                display: inline-block;
                cursor: pointer;
                &:after {
                    content: '';
                    border-bottom: 1px $orange solid;
                    position: absolute;
                    width: 0;
                    transition: width 0.5s;
                    bottom: 0;
                    left: 0;
                }
                &:hover:after {
                    width: 100%;
                }
            }
        }
    }
}

.singup-form__field span.required {
    font-size: 11px;
    color: white;
    background-color: red;
    padding: 1px 2px;
    display: inline-block;
}

span.optional {
    font-size: 11px;
    color: white;
    background-color: grey;
    padding: 1px 2px;
    display: inline-block;
}

#adviser-next-btn,
#adviser-create-btn {
    text-align: center;
    width: 150px;
    display: block;
    margin: 10px auto;
    border: 1px $orange solid;
    color: $orange;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    &:hover {
        background-color: $orange;
        color: white;
    }
}

#user_icon,
#user_background_image {
    display: none;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto 20px;
}

#user-school-select {
    background-color: white;
    border-radius: 0;
}

#signup-page1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
}

#signup-page2 {
    position: absolute;
    right: -100vw;
    top: 100px
}

#adviser-pre-btn {
    display: inline-block;
    color: $orange;
    cursor: pointer;
    height: 30px;
    &:hover {
        border-bottom: 1px solid $orange;
    }
}

.back-btn {
    color: $orange;
    position: relative;
    display: inline-block;
    cursor: pointer;
    &:after {
        content: '';
        border-bottom: 1px $orange solid;
        position: absolute;
        width: 0;
        transition: width 0.5s;
        bottom: 0;
        left: 0;
    }
    &:hover:after {
        width: 100%;
    }
}