.container {
    width: 100vw;
}

#video-container {
    width: 700px;
    margin: 30px auto;
}

#their-video {
    width: 100%;
    background-color: black;
}

#my-video {
    background-color: black;
}