.container {
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.videochat__top {
    display: flex;
    margin-bottom: 20px;
}

.chat-box {
    width: 30%;
    height: auto;
    border: 1px solid $orange;
    &__header {
        display: flex;
        justify-content: space-between;
        background-color: $orange;
        color: white;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        &__title {}
        &__clock {}
    }
    &__body {
        overflow: scroll;
    }
}

#video-container {
    width: 70%;
    margin-right: 20px;
    position: relative;
}

#their-video {
    // position: absolute;
    margin: 0 auto;
    width: 100%;
    background-color: black;
}

#my-video {
    background-color: darkgrey;
    // on video
    // top: 0;
    // left: 0;
    // position: absolute;
    // width: 30%;
    // right bottom
    width: 100%;
    margin: 0 auto;
}

.videochat__bottom {
    width: 100%;
    display: flex;
    &__left {
        width: 70%;
        margin-right: 20px;
        display: flex;
        #user_peer_btn,
        button {
            border: $orange solid 1px;
            color: $orange;
            font-size: 20px;
            width: 100%;
            padding: 10px 30px;
            border-radius: 5px;
            background-color: white;
            &:hover {
                background-color: $orange;
                color: white;
            }
            &:disabled {
                border: lightgrey solid 1px;
                background-color: lightgrey;
                color: white;
                cursor: not-allowed;
            }
        }
    }
    &__right {
        width: 30%;
    }
}

#timer {
    width: 40%;
    text-align: center;
}