.container {
    width: 100vw;
    height: 100vh;
    padding: 15px;
}

.videochat {
    display: flex;
    &__left {
        &__bottom {
            width: 360px;
            height: 270px;
        }
    }
    &__center {
        margin: 0 15px;
        &__bottom {
            width: 100%;
            display: flex;
            #end_call_btn,
            #user_peer_btn,
            button {
                height: 50px;
                display: block;
                border: $orange solid 1px;
                color: $orange;
                font-size: 20px;
                width: 120px;
                text-align: center;
                padding: 10px 0;
                border-radius: 5px;
                background-color: white;
                &:hover {
                    background-color: $orange;
                    color: white;
                }
                &:disabled {
                    border: lightgrey solid 1px;
                    background-color: lightgrey;
                    color: white;
                    cursor: not-allowed;
                }
            }
        }
    }
    &__right {
        width: 100%;
        border: 1px solid $orange;
        position: relative;
        height: 95vh;
        &__header {
            background-color: $orange;
            color: white;
            padding: 10px;
            font-size: 20px;
            font-weight: bold;
        }
        &__body {
            overflow: scroll;
            height: calc(95vh - 105px);
            .message-box {
                width: 100%;
                text-align: right;
                padding: 10px;
                &__name {}
                &__text {
                    margin-top: 5px;
                    display: inline-block;
                    background-color: rgb(112, 212, 112);
                    padding: 10px;
                    border-radius: 4px;
                    max-width: 50%;
                    word-break: break-all;
                }
            }
            .other-message-box {
                width: 100%;
                text-align: left;
                padding: 10px;
                &__name {}
                &__text {
                    margin-top: 5px;
                    display: inline-block;
                    background-color: rgb(178, 228, 231);
                    padding: 10px;
                    border-radius: 4px;
                    max-width: 50%;
                    word-break: break-all;
                }
            }
        }
        &__form {
            width: 100%;
            background-color: $orange;
            padding: 10px;
            position: absolute;
            bottom: 0;
            #chat-message-form {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .chat-message-text {
                    width: 100%;
                    height: 40px;
                    display: block;
                    padding: 10px;
                    border: none;
                }
                .chat-message-btn {
                    color: $orange;
                    width: 80px;
                    display: block;
                    height: 40px;
                    margin-left: 10px;
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
                    &:hover {
                        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                    }
                }
            }
        }
    }
}

.video-box {
    width: 100%;
    background-color: lightgrey;
}

.chat-box {
    width: 360px;
    height: auto;
    border: 1px solid $orange;
    height: 480px;
    margin-bottom: 10px;
    &__header {
        display: flex;
        justify-content: space-between;
        background-color: $orange;
        color: white;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        &__title {}
        &__clock {}
    }
    &__body {
        overflow: scroll;
        height: 430px;
    }
}

.voice-box {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-bottom: 1px dashed lightgrey;
    display: flex;
    &__name {
        margin-right: 5px;
    }
    &__text {
        word-break: break-all;
    }
}

#video-container {
    position: relative;
    margin-bottom: 10px;
}

#their-video {
    display: block;
    margin: 0 auto;
    width: 640px;
    height: 480px;
    background-color: black;
}

// .videochat__bottom {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     &__left {
//         width: 360px;
//         height: 270px;
//         margin-right: 15px;
//     }
//     &__right {
//         width: 100%;
//         display: flex;
//         #end_call_btn,
//         #user_peer_btn,
//         button {
//             height: 50px;
//             display: block;
//             border: $orange solid 1px;
//             color: $orange;
//             font-size: 20px;
//             width: 120px;
//             text-align: center;
//             padding: 10px 0;
//             border-radius: 5px;
//             background-color: white;
//             &:hover {
//                 background-color: $orange;
//                 color: white;
//             }
//             &:disabled {
//                 border: lightgrey solid 1px;
//                 background-color: lightgrey;
//                 color: white;
//                 cursor: not-allowed;
//             }
//         }
//     }
// }
#my-video {
    background-color: darkgrey;
    width: 360px;
    height: 270px;
    margin: 0 auto;
}

#timer {
    width: 40%;
    text-align: center;
}

.dark-background {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
}

.notification-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
    width: 400px;
    height: 300px;
    background-color: white;
    font-size: 20px;
    text-align: center;
    padding: 70px 0;
    line-height: 50px;
}

#chat-voice-form {
    // display:none;
}